  html,  body {
            font-family: Arial, sans-serif;
        }

        .header-advanced {
            display: flex;
            justify-content: space-between;
            padding: 5px;
            background-color: #f2f2f2;
        }

        .header-advanced-logo img {
            height: 45px;
        }

        .header-links a {
            margin-right: 10px;
            font-size: 20px;
        }
        .appbar {
            background-color: #f2f2f2;
            padding: 10px;
            font-size: 24px;
            font-weight: bold;
        }

        .separator-line {
            height: 2px;
            background-color: #d3d3d3;
        }

        .advanced-search-container {
            padding: 20px;
            max-width: 600px;
            margin: 0 auto;
        }

        .advanced-search-container label {
            font-size: 18px;
            font-weight: bold;
        }

        .whitespace {
            height: 20px;
        }

        .form-group {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
        }

        .form-group label {
            min-width: 150px;
            margin-right: 10px;
        }

        input[type="text"] {
            border: 1px solid black;
            height: 30px;
            font-size: 16px;
            padding: 5px;
        }

        .clarification {
            font-size: 14px;
            color: #70757a;
            padding-left: 10px;
        }

        .clarification .monospace {
            font-family: monospace;
        }

        .right-align {
            margin-left: auto;
        }

        .blue-button {
            background-color: #6ea2e5;
            color: #ffffff;
            border: none;
            padding: 10px 20px;
            font-size: 18px;
            cursor: pointer;
            border-radius: 5px;
        }

        